.SecondPage {
    background-color: white;
    position: relative;
    padding: 2em 0 2em 0;
}

.ThirdPage {
    background-color: #9dcfb8;
    position: relative;
    padding: 2em 0 2em 0;
}

.BoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em auto 7em auto;
    width: 60rem;;
}

