.SecondPage {
    background-color: white;
    position: relative;
}

.BoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em auto 0 auto;
    width: 60rem;;
}

