.Menu {
    padding-top: 7em;
    position: relative;
    background-color: #fff;
}

.MenuBoxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em auto 3em auto;
    width: 60%;
}

.HiddenAlert {
    visibility: hidden;
    transform: translateX(-50%)
}

.AlertContainer {
    visibility: visible;
    transition: 1s;
}