.BagItem {
    position: relative;
    background-color: #f4f4f4;
    margin: 2em auto 2em auto;
    width: 22em;
    height: 22em;
    transition: 0.5s;
}

.BagItem:hover{
    background-color: #b6e2d3;
}

.BagItemPic {
    background-repeat: no-repeat;
    background-size: cover;
    width: 15em;
    bottom: -0.7em;
    left: -4em;
    position: absolute;
}

.BagItemPicContainer {
}

.BagItemTitle {
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 0em
}

.BagItemQuantity {
    font-family: 'Noto Sans';
    font-size: 6rem;
    width: 1.4em;
    text-align: center;
    border-style: none;
    background-color: #b6e2d3;
    color: white;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -10%;
    border-radius: 10px;
    transition: 0.5s;
}

.BagItemQuantity:focus {
    outline: none;
}

.BagItemQuantity:hover {
    cursor: pointer;
    background-color: #f4f4f4;
    color:#61bdb1; 
}

.QuantityX {
    font-size: 4rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.PriceContainer {
    position: absolute;
    font-size: 2rem;
    text-align: left;
    bottom: 5%;
    right: 5%;
}

.BagItemTotalPrice {
    font-size: 3rem;
    font-weight: 700;
}

.BagRemoveItem {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 3rem;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: 0.5s;
}

.BagRemoveItem:Hover {
    color: #000000; 
    cursor: pointer;
}

.TotalDecorator {
    font-size: 0.5em;
}