npm install react-router-dom
npm install @fontsource/open-sans
npm install @fontsource/noto-sans
npm install @fontsource/montserrat
npm install react-transition-group --save
npm install @paypal/react-paypal-js